@import url("reset.css");

body {
    background-color: #ad6a34;;
}
header {
    height: 5rem;
    background-color: #325453;
    color: #dcbe87;
    position: relative;
}

.page-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-left: 2rem;
    position: absolute;
    bottom: 1rem;
}

main {
    display: flex;
    height: 100%;
    display: flex;
}

.add-new-book-container {
    width: 20rem;
    height: 100vh;
    background-color: #517174;
    display: flex;
    justify-content: center;
}

.add-new-book {
    color: #dcbe87;
    margin: 1.5rem;
    text-align: center;

    input {
        margin: .8rem;
    }
}

.stats-container {
    width: 20rem;
    height: 100%;
    background-color: #517174;
    display: flex;
    justify-content: center;
}

.book-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.book-card {
    height: 26.6rem;
    width: 20rem;
    background-color: #4e1d04;
    color: #dcbe87;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    border-radius: 1rem;

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    h3 {
        font-size: 1.4rem;
        font-weight: 500;
    }

    button {
        font-size: 1.4rem;
    }
}